text {
  font: 12px sans-serif;
}
svg {
  display: block;
}
html,
body,
.container,
#TestGraph,
svg {
  margin: 0px;
  padding: 0px;
  height: calc(100vh - 100px);
  width: calc(100vh - 60px);
}

#TestGraph {
  margin-top: 82px;
}
